<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
    <title>PlanZajec</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../Public/img/Group 23.png">
        </div>
        <form> 
            <div class ="text">Email lub nick:</div>
            <input name="email" type="text" placeholder="email@email.com">
            <div class ="text">Hasło:</div>
            <input name="password" type="password" placeholder="*********">
            <button type="submit">Zaloguj</button>
        </form>
        <div class="register">
            <button type="submit">Zarejestruj</button>
        </div>  
    </div>
</body>
</html>