<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="Stylesheet" type="text/css" href="../Public/css/registration.css" />
    <title>PlanZajec</title>
</head>
<body>
    <div class="container">
        <div class ="registerandlogo">
            <div class="logo">
                <img src="../Public/img/Group 23.png">
            </div>
       
            <form> 
                <div class ="text">E-mail:</div>
                <input name="email" type="text" placeholder="email@email.com">
                <div class ="text">Nick:</div>
                <input name="password" type="password" placeholder="yournick">
                <div class ="text">Hasło:</div>
                <input name="password" type="password" placeholder="*********">
                <div class ="text">Powtórz hasło:</div>
                <input name="password" type="password" placeholder="*********">
                <button type="submit">Zarejestruj</button>
            </form>
        </div>
    </div>
</body>
</html>