.container{ 
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.form-control{
    border: 2px solid black;
    border-radius: 0px;
}

label{
    margin-top: 10px;
}

.messages{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    color: rgb(120, 23, 53);
}
