body{
    background-image: url('../img/materila-design-abstract.png');
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

}
#registration{
    font-size:40px;
    letter-spacing: 8px;
    color:rgb(58, 0, 0);
    
}
.container {
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left:15%;
    width:70%;
    height:100%;
    background-color: white;    

}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width:300px;
}

form > input {
    padding-left: 0.5em;
    margin-bottom: 2em;
    border: 2px solid #000000;
    line-height: 3.0em;
    font-size: 0.8em;
}

button{
    width: 300px;
    margin-top: 25px;
    margin-bottom: 1em;
    color: white;
    line-height: 2.5em;
    font-size: 1em;
    background-color: rgb(120, 23, 53);
    font-family: 'Quicksand', sans-serif;
    border: 3px solid rgb(58, 0, 0); 
 }

 .messages{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    color: rgb(120, 23, 53);
}

 @media only screen and (max-device-width: 450px) {
   
    #registration
    {
        font-size: 100px;
    }
    .container {
        width:100%;
        left:0;
        margin-bottom: 10%;
        font-size: 50px;
    }

    form {
        margin-top: 150px;
        width:700px;
    }

    form > input {
        margin-bottom: 20px;
        border: 5px solid #000000;
        line-height: 2.0em;
        font-size: 1em;
    }

    button{
        width: 500px;
        margin-top: 1em;
        margin-bottom: 1em;
        color: white;
        line-height: 2.5em;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
     }

     #register{
        margin-top: 1.5em;
    }
  
}


@media screen and (max-width: 650px) {
    .container {
        width:100%;
        left:0;
        margin-bottom: 10%;
    }
}