body{
    background-image: url('../img/materila-design-abstract.png');
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;

}

.container {
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    top:0;
    left:15%;
    width:70%;
    height:100%;
    background-color: white;    

}
img{
    height:175px;
    width:450px; 
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width:300px;
}

form > input {
    padding-left: 0.5em;
    margin-bottom: 1em;
    border: 2px solid #000000;
    line-height: 2.5em;
    font-size: 15px;
}

button,a{
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    line-height: 2.5em;
    font-size: 16px;
 }


#login{
    background-color:rgb(67, 83, 103);
    font-family: 'Quicksand', sans-serif;
    border:3px solid rgb(2, 56, 95); 
    width: 300px;
}
 

#register{
    background-color: rgb(120, 23, 53);
    font-family: 'Quicksand', sans-serif;
    border: 3px solid rgb(58, 0, 0); 
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    width: 294px;
}

.messages{
    margin-top:-20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    color: rgb(120, 23, 53);
}

 
@media only screen and (max-device-width: 450px) {
   
    img{
        width:90%;
        height:20%;
    }
    .container {
        width:100%;
        left:0;
        margin-bottom: 10%;
        font-size: 50px;
    }

    form {
        margin-top: 150px;
        width:700px;
    }

    form > input {
        margin-bottom: 20px;
        border: 5px solid #000000;
        line-height: 2.0em;
        font-size: 1em;
    }

    button{
        width: 450px;
        margin-top: 1em;
        margin-bottom: 1em;
        color: white;
        line-height: 2.5em;
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
     }

     #register{
        margin-top: 1.5em;
    }
  
}

@media screen and (max-width: 650px) {
    .container {
        width:100%;
        left:0;
        margin-bottom: 10%;
    }
}